OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://localhost:4318/v1/traces
MQTT_URL=mqtts://localhost:8883
MQTT_CA_FILE=../../infra/local/certs/ca.crt
MQTT_CERT_FILE=../../infra/local/certs/platform-worker.crt
MQTT_KEY_FILE=../../infra/local/certs/platform-worker.key
MQTT_CLIENT_ID=smart-house-ingestion
MQTT_SESSION_EXPIRY_SECONDS=3600
MQTT_RECONNECT_PERIOD_MS=1000
TELEMETRY_OUTBOX_STREAM_KEY=telemetry.persisted.stream
TELEMETRY_OUTBOX_PUBSUB_CHANNEL=telemetry.persisted
TELEMETRY_OUTBOX_POLL_INTERVAL_MS=1000
TELEMETRY_OUTBOX_BATCH_SIZE=100
DEVICE_ONLINE_GRACE_PERIOD_SECONDS=90
DEVICE_STATUS_RECONCILIATION_INTERVAL_MS=30000
TELEMETRY_MAX_FUTURE_SKEW_SECONDS=300
TELEMETRY_LATE_AFTER_SECONDS=86400
